In [1]:
import pandas as pd

In [2]:
data=[4, 8, 15, 16, 23, 42]

In [3]:
type(data)

list

In [4]:
s=pd.Series(data)

In [5]:
type(s)

pandas.core.series.Series

In [6]:
s

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
data1=[1,2,3,4,5,6,7,8,9,10]
s1=pd.Series(data1)
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
data2 = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df=pd.DataFrame(data2)

In [10]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

##In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It can be thought of as a table or a spreadsheet, with rows and columns. A DataFrame can be created from a variety of data sources, including dictionaries, lists, CSV files, and SQL databases.

On the other hand, a Pandas Series is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc.). It can be thought of as a column in a DataFrame or a single row in a spreadsheet. A Series can be created from a variety of data sources, including lists, dictionaries, and NumPy arrays.

The main difference between a DataFrame and a Series is that a DataFrame is a two-dimensional structure, while a Series is a one-dimensional structure. A DataFrame can be thought of as a collection of Series objects, where each column in the DataFrame is a Series. Additionally, a DataFrame has both row and column labels, whereas a Series only has row labels.

Pandas offers a wide range of functions that can be used to manipulate data in a DataFrame. Some common functions are:

head() and tail(): Returns the first or last n rows of a DataFrame respectively. These are useful for quickly checking the structure and content of a DataFrame

In [11]:
print(df.head(2))

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [12]:
print(df.tail(2))

     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female

In Pandas, both Series and DataFrame are mutable in nature. This means that you can modify the data in these data structures after they have been created.

However, Panel is a 3-dimensional data structure in Pandas which has been deprecated since version 0.25.0, and it is recommended to use other data structures such as MultiIndex or xarray for handling 3-dimensional data.

In [ ]:
name=pd.Series(['Alice', 'Bob', 'Claire'])
age=pd.Series([25, 30, 27])
gender=pd.Series(['Female', 'Male', 'Female'])
data5=pd.DataFrame({'Name':name, 'Age':age, 'Gender':gender})