In [1]:
import pandas as pd

def reindex_df(df):
    # Get the number of rows in the DataFrame
    n_rows = df.shape[0]
    
    # Create a new index starting from 1 and incrementing by 2
    new_index = pd.Index(range(1, 2*n_rows, 2))
    
    # Assign the new index to the DataFrame
    df.index = new_index
    
    # Return the reindexed DataFrame
    return df

# Create a sample DataFrame
df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})

# Reindex the DataFrame
reindexed_df = reindex_df(df)

# Print the original and reindexed DataFrames
print("Original DataFrame:\n", df)
print("\nReindexed DataFrame:\n", reindexed_df)

Original DataFrame:
     A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Reindexed DataFrame:
     A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [2]:
##Q3:
def sum_first_three(df):
    value_col=df['values']
    sum_first_three=sum(value_col[0:3])
    print("sum first three value:",sum_first_three)
df=pd.DataFrame({'values':[10,20,30,40,50]})
sum_first_three(df)

sum first three value: 60

In [3]:
#Q:4
def add_word_count(df):
    word_count=df['Text'].str.split().str.len()
    df['Word_Count']=word_count
    return df
df = pd.DataFrame({'Text': ['This is a sample sentence.', 'Here is another sentence.', 'One more for good measure.']})
df=add_word_count(df)
print(df)

                         Text  Word_Count
0  This is a sample sentence.           5
1   Here is another sentence.           4
2  One more for good measure.           5

#Q5
Both DataFrame.size() and DataFrame.shape() are methods in Pandas that provide information about the dimensions of a DataFrame, but they differ in what they return.

DataFrame.size() returns the total number of elements in the DataFrame, which is equivalent to the number of rows multiplied by the number of columns. It returns a scalar value.

On the other hand, DataFrame.shape() returns a tuple that contains the number of rows and columns in the DataFrame, respectively. So, it provides information about the shape of the DataFrame.

Q:6 pandas.read_excel()

In [4]:
#Q:7
def extract_username(df):
    get_username = lambda email: email.split('@')[0]
    df['Username'] = df['Email'].apply(get_username)
    return df
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com', 'jimmy.choo@example.com']})
df=extract_username(df)
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2  jimmy.choo@example.com  jimmy.choo

In [5]:
#Q:8
def select_rows(df):
    mask = (df['A'] > 5) & (df['B'] < 10)
    selected_rows = df[mask]
    return selected_rows
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
selected_rows = select_rows(df)
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [6]:
#Q:9
def calculate_value(df):
    m1=df['values'].mean()
    m2=df['values'].median()
    m3=df['values'].std()
    print("Mean:",m1)
    print("Median:",m2)
    print("Stadard deviation:",m3)
    
df=pd.DataFrame({'values':[10,20,30,40,50]})
calculate_value(df)

Mean: 30.0
Median: 30.0
Stadard deviation: 15.811388300841896

In [9]:
#Q:10
def calculte_moving(df):
    df['Moving_average']=df['Sales'].rolling(window=7,min_periods=1).mean()
    return df
df=pd.DataFrame({'Sales':[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80],
               'Date':pd.date_range(start='2022-01-01',end='2022-01-15')})
df=calculte_moving(df)
print(df)

    Sales       Date  Moving_average
0      10 2022-01-01            10.0
1      15 2022-01-02            12.5
2      20 2022-01-03            15.0
3      25 2022-01-04            17.5
4      30 2022-01-05            20.0
5      35 2022-01-06            22.5
6      40 2022-01-07            25.0
7      45 2022-01-08            30.0
8      50 2022-01-09            35.0
9      55 2022-01-10            40.0
10     60 2022-01-11            45.0
11     65 2022-01-12            50.0
12     70 2022-01-13            55.0
13     75 2022-01-14            60.0
14     80 2022-01-15            65.0

In [11]:
#Q:11
import pandas as pd

def add_weekday_column(df):
    # Convert the 'Date' column to a pandas datetime object
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Extract the weekday name from the 'Date' column using strftime() function
    df['Weekday'] = df['Date'].dt.strftime('%A')
    
    # Return the modified DataFrame
    return df

df=pd.DataFrame({'Date':pd.date_range(start='2022-01-01',end='2022-01-05')})
df=add_weekday_column(df)
print(df)

        Date    Weekday
0 2022-01-01   Saturday
1 2022-01-02     Sunday
2 2022-01-03     Monday
3 2022-01-04    Tuesday
4 2022-01-05  Wednesday

In [12]:
#Q:12
def select_rows_between_dates(df):
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]
df=pd.DataFrame({'Date':pd.date_range(start='2023-01-01',end='2023-02-20')})
df=select_rows_between_dates(df)
print(df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20