In [5]:
#Q1 
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame({
    'course_name': course_name,
    'duration': duration
})

print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2: Both loc and iloc are used to access data from a pandas DataFrame.

loc: loc is label-based, which means that you can access data based on the index and column labels. It accepts the label values of rows and columns and returns a subset of the DataFrame. It raises an error if the label does not exist in the DataFrame.

iloc: iloc is integer-based, which means that you can access data based on the integer index of rows and columns. It accepts integer values and returns a subset of the DataFrame. It raises an error if the integer index does not exist in the DataFrame.

In [6]:
##Q3
new_df = df.reindex(index=[3, 0, 1, 2])
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [7]:
#Q4:
print(df.mean())
print(df['duration'].std())

duration    3.75
dtype: float64
1.707825127659933

/tmp/ipykernel_2207/2425829503.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean())

In [10]:
#Q:5
df.loc[1, 'duration'] = 'string data'
print(df['duration'].mean())

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#Q:6 In pandas, the window function is used to perform calculations on a rolling window of data in a pandas DataFrame. A rolling window is a fixed-size window that slides across the data in the DataFrame, performing the calculation on each window.

There are several types of windows functions in pandas, including:

rolling(): This is the most commonly used window function in pandas. It creates a rolling window of a specified size and applies

In [11]:
#Q:7
import pandas as pd

now = pd.datetime.now()
print(now.strftime('%B %Y'))

May 2023

/tmp/ipykernel_2207/3116719368.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

In [12]:
#Q:8
import pandas as pd

# Prompt the user to enter the first date
date1_str = input('Enter the first date in YYYY-MM-DD format: ')

# Prompt the user to enter the second date
date2_str = input('Enter the second date in YYYY-MM-DD format: ')

# Convert the input strings to datetime objects
date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

# Calculate the difference between the two dates
diff = date2 - date1

# Extract the total number of days, hours, and minutes from the difference
days = diff.days
hours = diff.seconds // 3600
minutes = (diff.seconds // 60) % 60

# Display the result
print(f'The difference between {date1_str} and {date2_str} is {days} days, {hours} hours, and {minutes} minutes.')

Enter the first date in YYYY-MM-DD format:  2022-03-21
Enter the second date in YYYY-MM-DD format:  2022-03-28

The difference between 2022-03-21 and 2022-03-28 is 7 days, 0 hours, and 0 minutes.

In [ ]:
#Q:9
import pandas as pd

# Prompt the user to enter the file path
file_path = input('Enter the file path: ')

# Prompt the user to enter the column name
column_name = input('Enter the column name: ')

# Prompt the user to enter the category order
category_order_str = input('Enter the category order (comma-separated): ')
category_order = [x.strip() for x in category_order_str.split(',')]

# Read the CSV file
df = pd.read_csv(file_path)

# Convert the specified column to categorical
df[column_name] = pd.Categorical(df[column_name], categories=category_order)

# Sort the data by the specified column
df_sorted = df.sort_values(by=column_name)

# Display the sorted data
print(df_sorted)

Enter the file path:  path/

In [ ]:
#Q:10
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Convert the date column to datetime type
df['date'] = pd.to_datetime(df['date'])

# Set the date column as the index of the DataFrame
df.set_index('date', inplace=True)

# Resample the data to monthly frequency and sum the sales by product category
monthly_sales = df.resample('M').sum()

# Create a stacked bar chart of the sales data
monthly_sales.plot(kind='bar', stacked=True)

# Set the x-axis label and title
plt.xlabel('Month')
plt.title('Sales by Product Category')

# Show the chart
plt.show()